.button {
  width: 120;
  height: 40;
  color: white;
  font-family: Pacifico;
  border-color: white;
  border-style: double;
  border-radius: 25px;
  background: #64B5F6;
  margin: 20px 0;
}

.signUpButton {
  color: 'white';
  font-family: 'Nunito';
  background-color: '#64B5F6';
}

.ModalWindowContainer {
  border: 0;
  border-radius: 3;
  color: 'white';
  height: 48;
  padding: 0 30px;
  background: #7CDCFB;
}

.bold {
  font-weight: bold;
  font-size: 12px;
}

.privacy-text p {
  margin-bottom: 2px;
}

.privacy-text p span {
  text-decoration: underline;
}

.privacy-text > span {
  font-size: 11px;
  line-height: 8%;
  white-space: pre-wrap;
}

.privacy-text{
  text-align: justify;
}

.privacy-text h5 {
  margin-top: 10px;
  margin-bottom: 7px;
}