@import "../../styles/styles.scss";

.socMediaWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.socMediaItem {
  display: flex;
  flex-direction: row;
}

.socMediaItem img {
  width: 30px;
  height: 30px;
  position: relative;
}

.socMediaItem .socMCaption {
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.socMediaItem .socMCaption label {
  margin: 0 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
}

.confirmSocM {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.confirmSocM div {
  max-width: 425px;
  margin: 0 20px;
}

.confirmSocM div label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.confirmSocM input[type='checkbox']:checked + label::after {
  background: black;
}

.button-search {
  padding: 10px 67px;
  background: #64B5F6;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 15px;
  background: $mainBlue;
  margin: 10px 0;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: capitalize;

  color: #FFFFFF;
}

.button-search:hover {
  background-color: $BtnHoverColor;
}

.soc-search-inst-info-container input:focus, .soc-search-inst-info-container input:active {
  outline: none;
}


.recommended-cities {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.soc-search-inst-info-container {
  height: max-content;
}

.soc-search-inst-info-container input {
  padding-left: 17px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  background: #FAFAFA;
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
}

.socSearchInstInfo {
  display: flex;
  flex-direction: column;
}

.media {
  align-items: flex-start;
  margin-left: 70px;
}

.headerWrap {
  margin-top: 35px;
}

.media h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  margin: 0;
}

.big_inst {
  margin: 60px 0;

}