@import "../../styles/styles.scss";
.modal {
  color: black;
  font-family: 'Nunito';
  background: white;
  overflow: auto ;
  width: 80%;
  height: 90%;

  &__close_status_text {
    color: rgb(238, 59, 40);
    background: rgba(238, 59, 40, 0.1);
  }

  &__open_status_text {
    color: rgb(79, 180, 67);
    background: rgba(79, 180, 67, 0.1);
  }

  &__restricted_status_text {
    color: rgb(255, 149, 0);
    background: rgba(255, 149, 0, 0.1);
  }

  &__country_name {
    font-weight: 600;
    color: black;
  }

  &__county_content_text {
    color: black;
  }

  &__read_more_button {
    color: white;
    cursor: pointer;
    font-family: Nunito;
    text-decoration: underline;
    font-size: 0.6em;
    text-align: 500px;
  }

   &__sort_buttons {
    height: auto;
    margin: 0;
    color: #333;
    background: #fff;
    font-size: 14px;
    line-height: 1.3;
    }

    &__border {
     border: none; /* Убираем границу */
     background-color: red; /* Цвет линии */
     color: black; /* Цвет линии для IE6-7 */
     height: 2px; /* Толщина линии */

    }

}
.modalContainer {
  background: $bluredBackground;
  overflow: auto;
display: flex;
  justify-content: center;
  align-items: center;
}
