@import "../../styles/styles.scss";

.excHeader {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-image: url(../../static/images/exc_headers/prague_header.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  display: flex;
  flex-direction: column;
}

.excursions {
  overflow: auto;
  height: 100%;
}

.excWrapper {
  display: flex;
  flex-direction: row;
}

.excursions-filter {
  min-width: 285px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #E5E5E5;
}

.excHeader p {
  font-family: $mainFont;
  color: $backColor;
}

.excHeader h2 {
  font-family: $accentFont;
  color: $backColor;
}

.excHeader h5 {
  font-family: $accentFont;
  color: $backColor;
}

.excContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  height: max-content;
}

input.searchField {
  height: 30px;
  width: 50%;
  padding: 0;
}

button.searchBtn {
  background-color: $mainBlue;
  color: $backColor;
  height: 30px;
  border-radius: 30%;
  border-style: none;
  padding: 5px 5px;
  margin: 0 0 0 -10px;
}

button.searchBtn:hover {
  background-color: $BtnHoverColor;
}

.rubric-item {
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  border: 5px solid #64B5F6;
  margin-top: 25px;
  width: 75%;
}

.rubric-item span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  display: flex;
  margin-left: 4px;
  margin-right: 4px;
  justify-content: center;
  font-size: 15px;
  line-height: 37px;
  color: #64B5F6;
}

.excursions-filter .rubric-item:last-child {
  margin-bottom: 25px;
}

