@import "../../styles/styles.scss";
.news {
  white-space: pre-wrap;

  &__image {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 2px;
    width: 800px;
  }

  &__date {
    color: $mainGrey;
    line-height: 0.8;
  }

  &__modal_button {
    color: white;
    cursor: pointer;
    font-family: Nunito;
    text-decoration: underline;
    font-size: 0.6em;
    text-align: 500px;
  }
}

