@import "../../styles/styles.scss";

.hotelInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  border: 1px solid #cccccc;
  text-align: left;
}

.hotelInfoImage {
  flex: 1;
}

.hotelInfoContent {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;
  width: 90%;
}

.hotelInfoContent div {
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}


.hotelInfo {
  font-weight: 200;
  margin: 10px;
  padding: 5px;
  text-align: left;
}

.hotelInfo.priceInfo {
  font-size: 0.5em;
}


.hotelInfo.hotelName {
  font-size: 1.2em;
  width: 50%;
  text-align: left;
}


.hotelBookButton {
  display: flex;
  flex-direction: column;
}

.hotelBookBtn {
  white-space: nowrap;
  background-color: $mainBlue;
  box-shadow: 1px 3px 2px #c6c6c6;
  padding: 10px;
  height: 40%;
  margin: 5px;
  border-radius: 10px;
  color: white;
  font-family: $accentFont;
  font-size: 0.7em;;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.hotelBookBtn:hover {
  background-color: $BtnHoverColor;
}


