
.flightInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #cccccc;
    flex-wrap:nowrap;
    font-size: 1rem;
}

.flightInfoContainer div{
        margin: 0 10%;
}

.flightInfoImage {
    flex: 1;
}

.flightInfoContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    font-family: $mainFont;
    padding:0 10%;
}

.flightInfoContent div{
    margin: 10px;
}

.flightInfoHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Rubik', sans-serif; 
}

.flightName{
    font-size: 1.5em;    
}

