@import "../../styles/styles.scss";


.prefForm {
  font-size: 20px;
  font-size: 0.8em;
}

.prefForm input {
  font-family: $mainFont;
  width: 85%;
  text-align: left;
  height: 2em;
  font-size: 0.6em;
  border-color: $mainGrey;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: none;
}

.prefForm select {
  font-family: $mainFont;
  width: 85%;
  text-align: left;
  height: 2em;
  font-size: 1.0em;
  border-color: $mainGrey;
  border-radius: 10px;
  margin-bottom: 5px;
}

.prefForm .dateFormParent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1px 0;
  width: 90%;
}


.prefForm .dateFormParent label {
  width: 50%;
  height: 100%;
}


.prefForm .button-start {
  width: 85%;
  height: 10%;
  color: white;
  font-family: $accentFont;
  font-size: 2vw;
  border-color: white;
  border-style: none;
  border-radius: 15px;
  background: $mainBlue;
  margin: 10px 0;
  padding: 10px;
}

.prefForm .button-start:hover {
  background-color: $BtnHoverColor;
}
