.loading-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.loading-container div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.loading-container span {
  color: black;
  margin-right: 4px;
}