@import "../../styles/styles.scss";

.tourItem {
    background-image: url(../../static/images/sky_bck.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: min-content;
    padding:5%;
    height: auto;
    margin: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.tourItem h3 {
    font-family: $accentFont;
    font-size: 1.4em;
    text-transform: uppercase;
    word-wrap: normal;
    text-align: center;
}

.tourItem .smallBlackDiv
{
    text-align: center;
    width: 40%;
    height: 4px;
    border-radius: 2px;
    background-color: black;
    
    margin-left: auto;
    margin-right: auto;
}

.tourItem h5 {
    font-family: $accentFont;
    font-size: 1.1em;
    text-transform: capitalize;
    word-wrap: normal;
    text-align: center;
}

.tourItem h3 a
{
    text-decoration: none;
    color: inherit;
}

.tourItem h3 a:hover
{
    text-decoration: underline;
    color: blueviolet;
}

.tourItem:first-child {
    width: 30%;
    
}

.tourItem:first-child h3 {
    font-size: 2.2em;
}

