@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico'), url(../static/fonts/Pacifico-Regular.ttf) format('truetype');
  }
@font-face {
    font-family: 'Oswald';
    src: local('Oswald'), url(../static/fonts/Oswald-Regular.ttf) format('truetype');
  }
@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url(../static/fonts/Nunito-Regular.ttf) format('truetype');
  }
@font-face {
    font-family: 'Ovo';
    src: local('Ovo'), url(../static/fonts/Ovo-Regular.ttf) format('truetype');
  }

  $mainFont: 'Nunito', sans-serif;
  $accentFont: 'Ovo', sans-serif;
  $backColor: #FBFBFB;
  $mainBlue: #64B5F6;
  $mainGrey: #c6c6c6;
  $BtnHoverColor: #3D5E8B;
  $bluredBackground: #FFF0;
