@import "../../styles/styles.scss";
.app {
  display: flex;
  margin-top: 0px;
  font-size: 0 rem;
  flex-direction: column;
  padding: 0rem 0rem 0rem;

  &__text {
    width: 100%;
  }

  &__collapse {
    background-color: $mainBlue;
    display: flex;
    height: 5px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
    box-shadow: $mainGrey;
    color: white;

    &--gradient {
      .app__content {
        border-color: transparent;
      }

      &:after {
        pointer-events: none;
        transition: opacity 300ms;
        will-change: opacity;
        opacity: 1;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

      }
    }

    &--active {
      &:after {
        opacity: 0;
      }
    }
  }

  &__content {
    border: 1px solid transparent;
    padding: 1rem 0;
    margin-bottom: 3rem;
    position: relative;
    transition: 300ms;
    text-align: center;
    background-color:$backColor;

  }

  &__toggle {
    width: 100%;
    height: 36px;
    margin: 1rem 0;
    border: 1px solid transparent;
    padding: 1rem 0.5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 2px 4px #888;
    background-color: $mainBlue;
    transition: background-color 300ms;
    &--active {
      background-color: #64B5F6;
    }
    img {
      width:100%;
    }
  }

  &__toggle-text {
    align-items: center;
    font-family: $accentFont;
    font-size: 20px;
    color: #FBFBFB
  }

  &__button {
    display: block;
    width: 20rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.icon {
  width: 1em;
  height: 1em;
  transition: transform 300ms cubic-bezier(0, 1, 0, 1);
  will-change: transform;
  &--expanded {
    transform: rotateZ(-179.99deg);
  }
}

.rotate90 {
  svg {
    fill: white;
  }
  transform: rotateZ(90deg);
}


