@import "../../styles/styles.scss";
.pointHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:$mainBlue;
    box-shadow: 0 3px 2px #c6c6c6;
}

.pointHeaderName {
    display: flex;
    margin-right: 18px;
    text-align: center;
    align-items: center;
    font-family: "Pacifico", sans-serif;
    font-size: 20px;
    color: #FBFBFB;
}
