@import "../../styles/styles.scss";

.tranboardFindContainer {
    display: flex;
    flex-direction: column;
}

.tranboard {
    background-color: $backColor;
}

.tranboard .tranBoardContent{
    background-color: $backColor;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10%;
}

.flightInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px dashed #cccccc;
    flex-wrap:nowrap;
    font-family: $mainFont;
    font-size: 1rem;
}

.departureInfo{
    font-family: $mainFont;
    font-weight: 200;
    margin: 10px;
}

.bookSection{
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 1px dashed #cccccc;
    font-family: $mainFont;
    font-weight: 200;
}

.price{
    margin: 0 10px;
    font-family: $mainFont;
    font-size: 1em;
    font-weight: 400;
}


.flightBookButton{
    display: flex;
    flex-direction: column;
}

.flightBookBtn {
    white-space: nowrap;
    background-color: $mainBlue;
    box-shadow: 1px 3px 2px #c6c6c6;
    padding: 10px !important ;
    margin: 5px;
    border-radius: 10px;
    color: white;
    font-family: $accentFont;
    font-size: 0.7em;;
    text-align: center;
    text-decoration: none;
}

.flightBookBtn:hover{
    background-color: $BtnHoverColor;
}