@import "../../styles/styles.scss";


.tranboardFindForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tranboardFindFormInputLabel {
    color: #7B7878;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 0.6em;
}

.findTransportBtn {
    white-space: nowrap;
    background-color: $mainBlue;
    box-shadow: 1px 3px 2px #c6c6c6;
    padding: 10px;
    height: 50%;
    margin: 10px;
    border-radius: 10px;
    color: $backColor;
    font-family: $accentFont;
    text-align: center;
}