.button {
    width: 120;
    height: 40;
    color: white;
    font-family: Pacifico;
    border-color: white;
    border-style: double;
    border-radius: 25px;
    background: #64B5F6;
    margin: 20px 0;
}
.message{
    width: max-content;
}

.signUpButton {
    color: 'white';
    font-family: 'Nunito';
    background-color: '#64B5F6';
}

.ModalWindowContainer {
    border: 0;
    border-radius: 3;
    color: 'white';
    height: 48;
    padding: 0 30px;
    background: #7CDCFB;
}