@import "/styles/styles.scss";

body {
  display: flex;
  height: 100%;
  margin: 0;
  font-family: $accentFont;
  font-size: 20px;
  color: $backColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {
  width: 100%;
  height: 100%;
}

.questionsContainer {
  display: flex;
  background-image: url(static/images/palm.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 110%;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.questionBoard {
  width: 50%;
  text-align: center;
  background: $mainBlue;
  border-radius: 25px;
  border-color: $mainBlue;
}

.routeHeaderPanel {
  display: flex;
  height: 36px;
  flex-direction: row;
  padding: 0rem 0.5rem 0rem;
  justify-content: space-between;
  margin-top: 1vh;
  margin: 0vh 0vh 4vh;
  background-color: $mainBlue;
  color: $backColor;
  box-shadow: 0 3px 2px #c6c6c6;
}


.routeHeaderIcon {
  display: flex;
  height: 36px;
  width: 36px;
}

.question-board input {
  font-family: $mainFont;
  width: 85%;
  height: 7%;
  text-align: left;
  font-size: 30px;
  border-color: $backColor;
  border-radius: 10px;
}

.prsnlContent {
  display: flex;
  justify-content: flex-start;
  //height: max-content;
  height: 100%;
  background-color: $backColor;
  color: #000000;
  bottom: 0;
  //margin-top: 70px;
  padding-bottom: auto;
  height: 100%;
}

.sideMenu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 20%;
  height: auto;
  background-color: $mainGrey;
  padding: 0;
  text-align: left;
  margin: 0;
}

.sideMenu:first-child {
  padding-top: 20px;
}

.sideMenu .sideMenuBtn {
  width: 100%;
  padding: 10px 0;
  font-family: $mainFont;
  background-color: $mainGrey;
  border-style: none;
}

.sideMenu .sideMenuBtn:hover {
  background-color: $BtnHoverColor;
}

.sideMenu .sideMenuBtn:active {
  background-color: $mainBlue;
}

.sideMenu .sideMenuBtn:focus {
  background-color: $mainBlue;
}

.prsnlContainer {
  text-align: left;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}


.prfrnc {
  font-size: 0.8em;
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 40%;
}

