.user-icon {
  background: url(../../static/icons/baseline_person_pin_white_48dp.png);
  width: 96px;
  height: 96px;
  zoom: 0.4;
}
.user-card{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-card span{
  height: max-content;
  font-size: 14px
}

