@import "../../styles/styles.scss";

.excItem {
    width: min-content;
    padding: 10px 5px;
    height: auto;
    margin: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $backColor;
    font-family: $mainFont;
}

.excItem h5 {
    font-size: 0.9em;
    margin: 5px;
}

.excItem p {
    font-size: 0.7em;
}

.excItem a{
    color: inherit;
}

.excItem .excImgDiv .excImg 
{
   height: 180px;
   width: auto; 
}

.excItem p.price {
    font-weight: bold;
    width: fit-content;
}

.excItem p.smDetail {
    font-size: 0.5em;
    width: fit-content;
    margin:0;
}

.excItem .guideRate {
    display: flex;
    flex-direction: row;
}

.excItem .guideInfo {
    width: fit-content;
    font-size: 0.5em;
    text-align: baseline;
    display: flex;
    flex-direction: row;
    align-content: center; 
}

.excItem .guideInfo .guideName {
    width: max-content;
    word-wrap: none;
}

.excItem .guideInfo img {
    border-radius: 50%;
}

.excItem .guideInfo .guideName a {
    margin:20% 5%;
    width: max-content;
}

.excIcon {
    width: 16x;
    height: 16px;
    margin-right: 10px;
}

.excDur {
    background-color:  $backColor;
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 5px;
    border-radius: 15px;
}

.excDur p {
    padding: 0;
    margin:0;
    text-align: baseline;
}

.excItem .rateInfo {
    font-size: 0.5em;
    width: fit-content;
    text-align: right;
    margin-left:20%;
}

.priceBlock {
    display: flex;
    flex-direction: row;
}

