@import "../../styles/styles.scss";

.modal {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.button {
    width: 120;
    height: 40;
    color: $backColor;
    font-family:$accentFont;
    border-color:$backColor;
    border-style: double;
    border-radius: 25px;
    background: #64B5F6;
    margin: 20px 0;
}

.signUpButton {
    color: $backColor;
    font-family: $mainFont;
    background-color: '#64B5F6';
}

.ModalWindowContainer {
    border: 0;
    border-radius: 3;
    color: $backColor;
    height: 48;
    padding: 0 30px;
    background: #7CDCFB;
}
