.modal {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.button {
  width: 120;
  height: 40;
  color: #FBFBFB;
  font-family: "Ovo", sans-serif;
  border-color: #FBFBFB;
  border-style: double;
  border-radius: 25px;
  background: #64B5F6;
  margin: 20px 0;
}

.signUpButton {
  color: #FBFBFB;
  font-family: "Nunito", sans-serif;
  background-color: "#64B5F6";
}

.ModalWindowContainer {
  border: 0;
  border-radius: 3;
  color: #FBFBFB;
  height: 48;
  padding: 0 30px;
  background: #7CDCFB;
}

/*# sourceMappingURL=signup.css.map */
