@import "../../styles/styles.scss";

.header{
    display: flex;
    align-items: center;
    top:0;
    position: fixed;
    width:100%;
    height: 70px;
    margin: 0px;
    background: $mainBlue;
    font-size:2vw;
    font-family: $accentFont;
    z-index: 9;
 }

.navigationWrapper{
    min-height: 5vh;
    background: #64B5F6;
}

.navLogo {
    width:100%;
    font-family: $accentFont;
    text-align: center;
    font-family: Pacifico;
    color: white;
    font-size: 2rem;
    z-index: 99;
}
.navLogo div{
    margin-top: 7px;
}
.header .navLogo {
    margin-top: 18px;
}

.modalContainer {
    background: $bluredBackground;
}
.MuiGrid-container{
    justify-content: center;
}
.MuiGrid-root .login{
    display: flex;
    justify-content: flex-end;
}

.navLoginButton {
    border-radius: 3p;
    color: 'white';
    height: 48;
    padding: '0 30px';
    color: white;
}

.navSignupButton {
    border-radius: 3px;
    color: 'white';
    height: 48;
    padding: '0 30px';
    background: '#7CDCFB';
    color: white;
}


.navMenu {
    margin-right: 32px;
    text-align: left;
    color: white;
    
}

.root {
    flex-grow: 1;
}


.title {
    flex-grow: 1;
    text-align: center;
    font-family: $accentFont;
}

.logo {
    text-align: center;
    font-family: $accentFont;
    color: $backColor;
    font-size: 2rem;
}