@import "../../styles/styles.scss";

.questionBoard select, input {
  font-family: $mainFont;
  width: 85%;
  text-align: left;
  height: 2em;
  font-size: 14px;
  border-color: white;
  border-radius: 10px;
  color: rgba(0,0,0,.65)
}

.questionBoard .dateFormParent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1px 5%;
}

.questionBoard .dateFormParent label {
  width: 50%;
  height: 100%;
}


.questionBoard .button-start {
  width: 70%;
  height: 15%;
  color: white;
  font-family: $accentFont;
  font-size: 2vw;
  border-color: white;
  border-style: double;
  border-radius: 25px;
  background: $mainBlue;
  margin: 20px 0;
  padding: 10px 0;
}

.questionBoard .button-start:hover {
  background-color: $BtnHoverColor;
}

.routeList {
  margin-top: 70px;
  width: 60%;
  margin-left: 20%;
}

  