@import "../../styles/styles.scss";

.routeBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10%;
}

.routeBoardListContainer {
    background-color: $backColor;
    color: black;
}

.routeBoardTitleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.routeBoardTitle {
    color: black;
    font-family: $mainFont;
    text-align: center;
    margin: 5% 0 0 0;
}

.routeBoardTitle-City {
    font-size: 3em;
    margin-top: 3vh;
    margin-bottom: 0vh;
}

.routeBoardTitle-Country {
    font-size: 1em;
    margin-top: 0vh;
    margin-bottom: 3vh;
}

